<main role="main" class="main-banner" id="home_cover">
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3"><h1>Search for your new home today .. </h1>
                <p>Choose the best place to live from hundreds of beautifuls apartments and houses</p>
                <p><a class="btn btn-success" href="#" role="button">View latest Houses »</a></p>
        </div>
    </div>
    <section id="latest-properties" class="mb-5">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h3 class="mb-4">Latest Houses</h3>
                </div>
            </div>
            <div class="row">
                <%= render "houses/list", houses: @houses %>
            </div>
        </div>
    </section>
    <section id="latest-posts" class="mb-5">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h3 class="mb-4">Latest News</h3>
                </div>
                <div class="col">
                    <%= render "posts/list", posts: @posts %>
                </div>
            </div>
        </div>
    </section>
</main>