<main role="main" class="main-banner" id="blog_cover">
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3"><h1>Latest Blog Posts</h1>
            <p>Stay up to date with the latest houses news !</p>
        </div>
    </div>
</main>

<div class="container">
    <% if @posts.empty? %>
        <p>No posts to display</p>
    <% else %>
        <% @posts.each do |post| %>
            <%= paginate @posts %>
            <div class="row">
                <div class="col">
                    <h2><%= post.title %></h2>
                    <p><%= post.summary %></p>
                    <%= link_to "Read More >", post_path(post), class: "btn btn-success" %>
                </div>
            </div>
        <% end %>
    <% end %>
</div>
<hr>
