// Place all the styles related to the Publics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



#notifications {
    display: none;
}
 
#home_cover .jumbotron {
    background: url(image_path('m2.jpg')) no-repeat center center;
    background-size: cover;
    height: 300px;
    color: #fff;
    text-shadow: 2px 2px 2px #fff;
    margin-bottom: 20px;
}

.main-banner .jumbotron {
    h1, p {
    color: #fff;
    text-shadow: 1px 1px 1px #777;
    }

    h1 {
        padding-top: 30px;
    }
}

#latest-posts {
    margin-top: -10px;
}

